.ExemplosDeEscrita {
    margin-bottom: 10px;
}

.ExemplosDeEscrita input[type="text"],
.ExemplosDeEscrita input[type="tel"],
.ExemplosDeEscrita input[type="email"],
.ExemplosDeEscrita textarea {
    width: 500px;
    height: 30px;
}

.ExemplosDeEscrita textarea {
    height: 300px;
}

button[type="submit"] {
    width: 100px;
    height: 50px;
}
